@page "/jobs/{userName}"
@inject HttpClient client
@inject NavigationManager navigate
@using TabBlazor.Services
@using Blazorise
@inject Blazorise.IModalService ModalService

<h3>MyTaskList</h3>



<TabBlazor.Card Size="CardSize.Default">
    @foreach (var job in jobs)
    {
    <TabBlazor.CardBody class="my-card-body" @onclick="() => JobClick(job.Id)">
            <TabBlazor.CardTitle>
                <h3> @job.Name</h3>
            </TabBlazor.CardTitle>
            @job.Description
        </TabBlazor.CardBody>
    }
</TabBlazor.Card>


@code {
    [Parameter]
    public string userName { get; set; }

    private List<Job> jobs = new List<Job>();
   

    protected override async void OnInitialized()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        jobs = await client.GetFromJsonAsync<List<Job>>($"/api/project/GetJobsByUserName/?userName={userName}");
        StateHasChanged();
    }

   




    private void JobClick(Guid id)
    {
        navigate.NavigateTo($"/jobInfo/{id}");
    }

}
<style>

    .card-body:hover {
        background-color: darkcyan !important;
    }

</style>