@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Управление проектами</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя страница
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"/projects/{userName}") Match="NavLinkMatch.All">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.5em" viewBox="0 0 8 8" class="me-3"><path fill="currentColor" d="M.75 0C.34 0 0 .34 0 .75v5.5c0 .41.34.75.75.75h6.5c.41 0 .75-.34.75-.75V.75C8 .34 7.66 0 7.25 0zM1 1h1v1H1zm2 0h4v1H3zM1 3h1v1H1zm2 0h4v1H3zM1 5h1v1H1zm2 0h4v1H3z" /></svg> Мои проекты
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"/projectTasks/{userName}") Match="NavLinkMatch.All">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.35em" height="1.5em" viewBox="0 0 8 8" class="me-3"><path fill="currentColor" d="M0 0v7h7V3.41l-1 1V6H1V1h3.59l1-1zm7 0L4 3L3 2L2 3l2 2l4-4z" /></svg> Мои Задачи
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="moderator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin-panel" Match="NavLinkMatch.All">
                        <span class="oi oi-cog" aria-hidden="true"></span> Admin Panel
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    [Parameter]
    public string userName { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
