@page "/"
@using ProjectManagement.Shared.Entity
@using TabBlazor
@using System
@using System.Collections.Generic

@inject HttpClient client

<ul>
    
    @foreach (var user in users)
    {   
       @*  <li>
            Логин @user.UserName
            Пароль @user.FirstName
        </li> *@
    }
</ul>
@code {
    List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    async Task Refresh()
    {
        //await client.GetFromJsonAsync<List<Project>>($"/api/project/GetAllProjects");
        users = await client.GetFromJsonAsync<List<User>>($"/api/account/GetAllUsers");
        StateHasChanged();
    }
}


