@page "/login"
@using ProjectManagement.Client.Services;
@using ProjectManagement.Shared;
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Авторизация</h2>
                            <p class="text-white-50 mb-5">Пожалуйста введите логин и пароль!</p>

                            <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginRequest">
                                <DataAnnotationsValidator />

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputUsername" class="form-control form-control-lg" @bind-Value="loginRequest.Login" />

                                    <ValidationMessage For="@(() => loginRequest.Login)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText type="password" id="inputPasswordX" class="form-control form-control-lg" @bind-Value="loginRequest.Password" />
                                    
                                    <ValidationMessage For="@(() => loginRequest.Password)" />
                                </div>

                               

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Логин</button>

                                <label class="text-danger">@error</label>
                            </EditForm>

                        </div>

                        <div>
                            <p class="mb-0">Еще нет аккаунта? <NavLink href="register" class="text-white-50 fw-bold">Зарегистрироваться</NavLink></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    LoginRequest loginRequest { get; set; } = new LoginRequest() { Login = "DigitalDiva21", Password = "Василий" };
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
