@page "/projectTasks/{userName}"
@inject HttpClient client
@inject NavigationManager navigate
@using TabBlazor.Services
@using Blazorise
@inject Blazorise.IModalService ModalService

<h3>Мои задачи</h3>



    @foreach (var projectTask in projectTasks)
    {
    <TabBlazor.Card Size="CardSize.Default" class="mb-2" style="cursor:pointer !important">
    <TabBlazor.CardBody class="my-card-body" @onclick="() => ProjectTaskClick(projectTask.Id)">
            <TabBlazor.CardTitle>
                <h3> @projectTask.Name</h3>
            </TabBlazor.CardTitle>
            @projectTask.Description
            </TabBlazor.CardBody>
        </TabBlazor.Card>
    }



@code {
    [Parameter]
    public string userName { get; set; }

    private List<ProjectTask> projectTasks = new List<ProjectTask>();
   

    protected override async void OnInitialized()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        projectTasks = await client.GetFromJsonAsync<List<ProjectTask>>($"/api/project/GetProjectTasksByUserName/?userName={userName}");
        StateHasChanged();
    }

   




    private void ProjectTaskClick(Guid id)
    {
        navigate.NavigateTo($"/projectTaskInfo/{id}");
    }

}
<style>

    .card-body:hover {
        background-color: darkcyan !important;
    }

</style>